---
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tracing Guide | Places | Tools | NPMap</title>
    <meta name="apple-mobile-web-app-title" content="NPMap">
    <meta name="application-name" content="NPMap">
    <meta name="author" content="NPMap">
    <meta name="description" content="The Places Tracing Guide outlines digitizing techniques and tags used by the National Park Service's Places system.">
    <meta name="keywords" content="NPMap, National Park Service, US Government, Department of Interior, Web Maps, GIS, Digital Maps, Mobile Maps, Data">
    <meta name="msapplication-TileColor" content="#222222">
    <meta name="msapplication-TileImage" content="http://www.nps.gov/lib/assets/img/windows-8-tile.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://www.nps.gov/lib/bootstrap/3.3.2/css/nps-bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/base.css" rel="stylesheet">
    <link href="http://www.nps.gov/npmap/feed.xml" rel="alternate" title="NPMap blog posts" type="application/atom+xml">
    <link href="http://www.nps.gov/lib/assets/img/favicon.ico" rel="shortcut icon">
    <link href="http://www.nps.gov/lib/assets/img/apple-touch-icon-144x144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144">
    <link href="http://www.nps.gov/lib/assets/img/apple-touch-icon-114x114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114">
    <link href="http://www.nps.gov/lib/assets/img/apple-touch-icon-72x72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72">
    <link href="http://www.nps.gov/lib/assets/img/apple-touch-icon-57x57-precomposed.png" rel="apple-touch-icon-precomposed">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" data-toggle="collapse" data-target="#npmap-navbar-collapse" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Places Tracing Guide</a>
        </div>
        <div class="collapse navbar-collapse" id="npmap-navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#about">About</a>
            </li>
            <li>
              <a href="#poi">Points of Interest</a>
            </li>
            <li>
              <a href="#buildings">Buildings</a>
            </li>
            <li>
              <a href="#roads">Roads</a>
            </li>
            <li>
              <a href="#trails">Trails</a>
            </li>
            <li>
              <a href="#parking">Parking</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="intro-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="intro-message">
              <h1>Places Tracing Guide</h1>
              <h3>National Park Service</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a name="about"></a>
    <div class="content-section-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-6">
            <a href="#about">
              <h2 class="section-heading">About Places</h2>
            </a>
            <p>Places is an internal data collection system for the National Park Service's "core" geospatial data. We built Places so that all National Park Service employees, both technical and non-technical, can contribute their knowledge to the map.</p>
            <p>Data from Places is fed directly into both <a href="http://www.nps.gov/npmap/tools/park-tiles/" target="_blank">Park Tiles</a> and the larger National Park Service structured data initiative, which will be used to drive <a href="http://www.nps.gov/" target="_blank">NPS.gov</a> and a publicly-available application programming interface (API) in 2016.</p>
            <p>The Places database currently contains the following datasets (a near real-time copy of each can be downloaded from the <a href="http://insidemaps.nps.gov/places/" target="_blank">Places landing page</a> <span class="nps-only">(NPS-only)</span>:</p>
            <ul>
              <li>Points of Interest</li>
              <li>Buildings</li>
              <li>Roads</li>
              <li>Trails</li>
              <li>Parking</li>
            </ul>
            <p>These datasets were initially seeded from existing park, region, and program-level GIS datasets, but now anyone who is connected to the National Park Service network can edit them using the <a href="http://insidemaps.nps.gov/places/editor/" target="_blank">Places Editor</a> <span class="nps-only">(NPS-only)</span>. If you have more/better data available and you'd like to get it into Places, <a href="mailto:npmap@nps.gov">send us an email</a> or <a href="https://github.com/nationalparkservice/places-data/issues/new" target="_blank">create an issue on GitHub</a> and we will be happy to assist with the upload.</p>
            <p>
              <strong>Disclaimer: All data contributed to Places is public-facing. Do not add any sensitive information unfit for public consumption. Only add data inside park boundaries.</strong>
            </p>
            <p>The Places editor is built on top of OpenStreetMap's <a href="http://wiki.openstreetmap.org/wiki/ID" target="_blank">iD editor</a>. Check out learnOSM's <a href="http://learnosm.org/en/editing/id-editor/" target="_blank">iD editor walkthrough</a> to familiarize yourself with the interface. It is intentionally simple, developed with a non-technical audience in mind.</p>
            <p>
              <strong>Note: Because Places utilizes the OpenStreetMap tagging scheme internally, you will see references and links to OpenStreetMap documentation below. Rest assured that edits made in the Places Editor, however, go directly into the internal National Park Service Places database and not into the OpenStreetMap database.</strong>
            </p>
            <div>
              <a class="btn btn-lg btn-primary" href="http://insidemaps.nps.gov/places/edit/#background=mapbox-satellite&map=4/-96.02/39.06&overlays=park-tiles-overlay" target="_blank">Start Mapping Now!</a>
              <p class="nps-only"><small>(NPS-only)</small></p>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6">
            <img class="img-responsive img-rounded" src="assets/img/nat_cap_sq.jpg">
          </div>
        </div>
      </div>
    </div>
    {% for dataset in site.data.datasets %}
    <a name="{{ dataset.id }}"></a>
    <div class="content-section-b {% cycle 'odd','even' %}">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-6">
            <a href="#{{ dataset.id }}"></a>
            <a href="#{{ dataset.id }}">
              <h2 class="section-heading">{{ dataset.name }}</h2>
            </a>
            <h4>{{ dataset.types }}</h4>
            {% for idToolType in dataset.idToolTypes %}
            <img class="img-id-tool img-thumbnail" src="assets/img/id_{{ idToolType }}.jpg">
            {% endfor %}
            <dl>
              <dt>Description</dt>
              <dd>{{ dataset.description }}</dd>
              <dt>How to Map</dt>
              <dd>{{ dataset.howToMap }}</dd>
            </dl>
            {% if dataset.furtherDescription %}
            {{ dataset.furtherDescription }}
            {% endif %}
          </div>
          <div class="col-lg-6 col-sm-6">
            {% if dataset.featureTypes %}
            <dl>
              <dt>{{ dataset.featureTypesId }}</dt>
              <dd>{{ dataset.featureTypes }}</dd>
            </dl>
            {% endif %}
            {% if dataset.gif == 'yes' %}
            <button class="btn btn-primary gif-collapse">Show Places Editor Preview</button>
            <div class="collapse" data-gif="assets/img/{{ dataset.id }}.gif"></div>
            {% endif %}
            <p>
              {% for subtype in dataset.subtypes %}
              <a class="btn btn-primary btn-sm" href="#{{ subtype.id }}">{{ subtype.name }}</a>
              {% endfor %}
              {% if dataset.attributes %}
              {% for attribute in dataset.attributes %}
              <a class="btn btn-primary btn-sm" href="#{{ attribute.id }}">{{ attribute.name }}</a>
              {% endfor %}
              {% endif %}
            </p>
          </div>
        </div>
        {% for subtype in dataset.subtypes %}
        <a name="{{ subtype.id }}"></a>
        <div class="row">
          <hr>
          <div class="col-lg-6 col-sm-6">
            <a href="#{{ subtype.id }}">
              <h4>{{ subtype.name }}</h4>
            </a>
            <dl>
              <dt>Description</dt>
              <dd>{{ subtype.description }}</dd>
              <dt>How to Map</dt>
              <dd>{{ subtype.howToMap }}</dd>
            </dl>
            {% if subtype.tags %}
            <img class="img-preset img-responsive img-thumbnail" src="assets/img/preset_{{ subtype.id }}.jpg">
            <div class="btn-group" role="group">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  Tag
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li class="dropdown-header" role="presentation">The underlying preset tag(s):</li>
                  {% for tag in subtype.tags %}
                  <li>
                    <a href="http://wiki.openstreetmap.org/wiki/Tag:{{ tag }}" target="_blank">
                      <code>{{ tag }}</code>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  Optional fields
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation" class="dropdown-header">(Optionally) add these fields:</li>
                  {% for tag in subtype.optionalTags %}
                  <li>
                    <a href="http://wiki.openstreetmap.org/wiki/Key:{{ tag }}" target="_blank">
                      <code>{{ tag }}=</code>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            {% if subtype.approvedUsesDescription %}
            <dl class="list-top-margin">
              <dt>{{ subtype.approvedUsesId }}</dt>
              <dd>{{ subtype.approvedUsesDescription }}</dd>
            </dl>
            <img class="img-preset-margin-b10 img-responsive img-thumbnail" src="assets/img/preset_{{ subtype.id }}_approved_uses.jpg">
            <p>
              <div class="btn-group" role="group">
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Tag
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header" role="presentation">The underlying preset tag(s):</li>
                    {% for tag in subtype.approvedUsesTags %}
                    <li>
                      <a href="http://wiki.openstreetmap.org/wiki/Key:{{ tag }}" target="_blank">
                        <code>{{ tag }}=*</code>
                      </a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </p>
            {% endif %}
            {% if subtype.additionalInfo %}
            <dl class="list-top-margin">
              <dt>{{ subtype.additionalInfoId }}</dt>
              <dd>{{ subtype.additionalInfo }}</dd>
            </dl>
            <img class="img-preset-margin-b10 img-responsive img-thumbnail" src="assets/img/preset_{{ subtype.id }}_additional_info.jpg">
            <p>
              <div class="btn-group" role="group">
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Tag
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header" role="presentation">The underlying preset tag(s):</li>
                    {% for tag in subtype.additionalInfoTag %}
                    <li>
                      <a href="http://wiki.openstreetmap.org/wiki/Tag:{{ tag }}" target="_blank">
                        <code>{{ tag }}</code>
                      </a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </p>
            {% endif %}
            {% endif %}
            {% if subtype.furtherDescription %}
            {{ subtype.furtherDescription }}
            {% endif %}
          </div>
          <div class="col-lg-6 col-sm-6">
            <button class="btn btn-primary gif-collapse">Show Places Editor Preview</button>
            <div class="collapse" data-gif="assets/img/{{ subtype.id }}.gif"></div>
          </div>
        </div>
        {% endfor %}
        {% if dataset.attributes %}
        {% for attribute in dataset.attributes %}
        <a name="{{ attribute.id }}"></a>
        <div class="row">
          <hr>
          <div class="col-lg-6 col-sm-6">
            <a href="#{{ attribute.id }}">
              <h4>{{ attribute.name }}</h4>
            </a>
            <dl>
              <dt>Description</dt>
              <dd>{{ attribute.description }}</dd>
              <dt>How to Map</dt>
              <dd>{{ attribute.howToMap }}</dd>
            </dl>
            <img class="img-preset-margin-b10 img-responsive img-thumbnail" src="assets/img/preset_{{ attribute.id }}.jpg">
            <p>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  Tag
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li class="dropdown-header" role="presentation">The underlying preset tag(s):</li>
                  {% for tag in attribute.tags %}
                  <li>
                    <a href="http://wiki.openstreetmap.org/wiki/Key:{{ tag }}" target="_blank">
                      <code>{{ tag }}=*</code>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </p>
          </div>
          <div class="col-lg-6 col-sm-6">
            <button class="btn btn-primary gif-collapse">Show Places Editor Preview</button>
            <div class="collapse" data-gif="assets/img/{{ attribute.id }}.gif"></div>
          </div>
        </div>
      {% endfor %}
      {% endif %}
      </div>
    </div>
    {% endfor %}
    <div class="banner">
      <div class="container">
        <div class="row">
          <img class="responsive" src="assets/img/nps_logo.png">
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://www.nps.gov/lib/bootstrap/3.3.2/js/nps-bootstrap.min.js"></script>
    <script src="assets/js/base.js"></script>
  </body>
</html>
